src/main/resources/XSD/CBIDlyStmtReqLogMsg.00.01.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Ivana Gargiulo (CONSORZIO CUSTOMER TO BUSINESS INTERACTION - CBI) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:CBI:xsd:CBIDlyStmtReqLogMsg.00.01.02" targetNamespace="urn:CBI:xsd:CBIDlyStmtReqLogMsg.00.01.02" elementFormDefault="qualified">
	<xs:element name="CBIDlyStmtReqLogMsg" type="CBIDlyStmtReqLogMsg.00.01.02"/>
	<!-- CBI Daily Statement Logical message structure definition -->
	<xs:complexType name="CBIDlyStmtReqLogMsg.00.01.02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="CBIGroupHeader42"/>
			<xs:element name="Stmt" type="CBIAccountStatement2_1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIGroupHeader42">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="MsgRcpt" type="CBIRecipientIdentifier"/>
			<xs:element name="AddtlInf" type="ABIIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIAccountStatement2_1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="ElctrncSeqNb" type="Number"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="CpyDplctInd" type="CBICopyDuplicate1Code" minOccurs="0"/>
			<xs:element name="Acct" type="CBICashAccount20"/>
			<xs:element name="Bal" type="CBICashBalance3" maxOccurs="unbounded"/>
			<xs:element name="TxsSummry" type="CBITotalTransactions2" minOccurs="0"/>
			<xs:element name="Ntry" type="CBIReportEntry2_1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AddtlStmtInf" type="Max500Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--*********************************
    Complex common data types
**********************************-->
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AlternateSecurityIdentification2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndCurrencyExchange3">
		<xs:sequence>
			<xs:element name="InstdAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
			<xs:element name="TxAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
			<xs:element name="CntrValAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
			<xs:element name="AnncdPstngAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
			<xs:element name="PrtryAmt" type="AmountAndCurrencyExchangeDetails4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndCurrencyExchangeDetails3">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyXchg" type="CurrencyExchange5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndCurrencyExchangeDetails4">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyXchg" type="CurrencyExchange5" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountRangeBoundary1">
		<xs:sequence>
			<xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
			<xs:element name="Incl" type="YesNoIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BalanceSubType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalBalanceSubType1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure4">
		<xs:sequence>
			<xs:element name="Domn" type="BankTransactionCodeStructure5" minOccurs="0"/>
			<xs:element name="Prtry" type="ProprietaryBankTransactionCodeStructure1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure5">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalBankTransactionDomain1Code"/>
			<xs:element name="Fmly" type="BankTransactionCodeStructure6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure6">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalBankTransactionFamily1Code"/>
			<xs:element name="SubFmlyCd" type="ExternalBankTransactionSubFamily1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BatchInformation2">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
			<xs:element name="PmtInfId" type="Max35Text" minOccurs="0"/>
			<xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
			<xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashBalanceAvailability2">
		<xs:sequence>
			<xs:element name="Dt" type="CashBalanceAvailabilityDate1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashBalanceAvailabilityDate1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="NbOfDays" type="Max15PlusSignedNumericText"/>
				<xs:element name="ActlDt" type="ISODate"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIAccountIdentification4Choice">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIAmountAndCurrencyExchange3">
		<xs:sequence>
			<xs:element name="InstdAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
			<xs:element name="TxAmt" type="AmountAndCurrencyExchangeDetails3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIBalanceType12">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CBIBalanceType5Choice"/>
			<xs:element name="SubTp" type="BalanceSubType1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIBalanceType5Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CBIBalanceType12Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIBranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="CBIFinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBICashAccount20">
		<xs:sequence>
			<xs:element name="Id" type="CBIAccountIdentification4Choice"/>
			<xs:element name="Tp" type="CBICashAccountType2" minOccurs="0"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Ownr" type="CBIPartyIdentification32_1"/>
			<xs:element name="Svcr" type="CBIBranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBICashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CBICashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBICashBalance3">
		<xs:sequence>
			<xs:element name="Tp" type="CBIBalanceType12"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="Dt" type="DateAndDateTimeChoice"/>
			<xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIEntryDetails1">
		<xs:sequence>
			<xs:element name="Btch" type="BatchInformation2" minOccurs="0"/>
			<xs:element name="TxDtls" type="CBIEntryTransaction2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIEntryTransaction2">
		<xs:sequence>
			<xs:element name="Refs" type="CBITransactionReferences2" minOccurs="0"/>
			<xs:element name="AmtDtls" type="CBIAmountAndCurrencyExchange3" minOccurs="0"/>
			<xs:element name="RltdPties" type="CBITransactionParty2" minOccurs="0"/>
			<xs:element name="RltdAgts" type="CBITransactionAgents2" minOccurs="0"/>
			<xs:element name="Purp" type="Purpose2Choice" minOccurs="0"/>
			<xs:element name="RmtInf" type="CBIRemittanceInformation5" minOccurs="0"/>
			<xs:element name="RtrInf" type="CBIReturnReasonInformation10" minOccurs="0"/>
			<xs:element name="AddtlTxInf" type="Max500Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIFinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="CBIClearingSystemMemberIdentification2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIGenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="SIAIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIOrganisationIdentification4">
		<xs:sequence>
			<xs:element name="Othr" type="CBIGenericOrganisationIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIParty6Choice">
		<xs:sequence>
			<xs:element name="OrgId" type="CBIOrganisationIdentification4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPartyIdentification32_1">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIRecipientIdentifier">
		<xs:sequence>
			<xs:element name="Id" type="CBIParty6Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIRemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="6"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIReportEntry2_1">
		<xs:sequence>
			<xs:element name="NtryRef" type="Max35Text"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="Sts" type="CBIEntryStatus2Code"/>
			<xs:element name="BookgDt" type="DateAndDateTimeChoice"/>
			<xs:element name="ValDt" type="DateAndDateTimeChoice"/>
			<xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0"/>
			<xs:element name="Avlbty" type="CashBalanceAvailability2" minOccurs="0"/>
			<xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
			<xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0"/>
			<xs:element name="TechInptChanl" type="TechnicalInputChannel1Choice" minOccurs="0"/>
			<xs:element name="NtryDtls" type="CBIEntryDetails1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AddtlNtryInf" type="Max500Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIReturnReasonInformation10">
		<xs:sequence>
			<xs:element name="OrgnlBkTxCd" type="BankTransactionCodeStructure4" minOccurs="0"/>
			<xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Rsn" type="ReturnReason5Choice" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBITotalTransactions2">
		<xs:sequence>
			<xs:element name="TtlNtries" type="NumberAndSumOfTransactions2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBITransactionAgents2">
		<xs:sequence>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="Prtry" type="ProprietaryAgent2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBITransactionParty2">
		<xs:sequence>
			<xs:element name="InitgPty" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Prtry" type="ProprietaryParty2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBITransactionReferences2">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
			<xs:element name="AcctSvcrRef" type="Max35Text" minOccurs="0"/>
			<xs:element name="PmtInfId" type="Max35Text" minOccurs="0"/>
			<xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
			<xs:element name="EndToEndId" type="Max35Text" minOccurs="0"/>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="ChqNb" type="Max35Text" minOccurs="0"/>
			<xs:element name="ClrSysRef" type="Max35Text" minOccurs="0"/>
			<xs:element name="Prtry" type="ProprietaryReference1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditLine2">
		<xs:sequence>
			<xs:element name="Incl" type="TrueFalseIndicator"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyAndAmountRange2">
		<xs:sequence>
			<xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyExchange5">
		<xs:sequence>
			<xs:element name="SrcCcy" type="ActiveOrHistoricCurrencyCode"/>
			<xs:element name="TrgtCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
			<xs:element name="UnitCcy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
			<xs:element name="XchgRate" type="BaseOneRate"/>
			<xs:element name="CtrctId" type="Max35Text" minOccurs="0"/>
			<xs:element name="QtnDt" type="ISODateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Dt" type="ISODate"/>
				<xs:element name="DtTm" type="ISODateTime"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate"/>
			<xs:element name="ToDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDtTm" type="ISODateTime"/>
			<xs:element name="ToDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstrumentQuantityChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Unit" type="DecimalNumber"/>
				<xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
				<xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FromToAmountRange">
		<xs:sequence>
			<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
			<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification3">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImpliedCurrencyAmountRangeChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
				<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
				<xs:element name="FrToAmt" type="FromToAmountRange"/>
				<xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
				<xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageIdentification2">
		<xs:sequence>
			<xs:element name="MsgNmId" type="Max35Text" minOccurs="0"/>
			<xs:element name="MsgId" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAndAddress10">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text"/>
			<xs:element name="Adr" type="PostalAddress6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NumberAndSumOfTransactions2">
		<xs:sequence>
			<xs:element name="NbOfNtries" type="Max15NumericText"/>
			<xs:element name="Sum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="TtlNetNtryAmt" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryAgent2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryBankTransactionCodeStructure1">
		<xs:sequence>
			<xs:element name="Cd" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryDate2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Dt" type="DateAndDateTimeChoice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryParty2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Pty" type="PartyIdentification32"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryReference1">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnReason5Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalReturnReason1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TechnicalInputChannel1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalTechnicalInputChannel1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!--*********************************
    Simple common data types
**********************************-->
	<xs:simpleType name="ABIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BaseOneRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBICashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CACC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBICopyDuplicate1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DUPL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIBalanceType12Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLAV"/>
			<xs:enumeration value="CLBD"/>
			<xs:enumeration value="FWAV"/>
			<xs:enumeration value="OPAV"/>
			<xs:enumeration value="OPBD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIEntryStatus2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CUCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{8,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBalanceSubType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionDomain1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionSubFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalReturnReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalTechnicalInputChannel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISINIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{12,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15PlusSignedNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+]{0,1}[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max500Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max5NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SIAIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{5,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
